[Desktop Entry]
Type=Application
Name=Moment
Comment=GPU-accelerated game clip manager. Capture, edit, and share your gaming moments.
Exec=moment
Icon=moment
Terminal=false
Categories=AudioVideo;
StartupNotify=false
X-GNOME-Autostart-enabled=false

Actions=open-encoded;settings;

[Desktop Action open-encoded]
Name=Open Encoded Folder
Exec=moment --open-encoded

[Desktop Action settings]
Name=Settings
Exec=moment --settings
